.vscode/
.idea/

/Public/assets/

# Composer
/vendor/
composer.lock

# Node
/node_modules/
package-lock.json

# Cache PHPUnit
/Tests/phpunit.cache/**/*

# Varibales d'environnement
.env

# Fichiers de log
Logs/
*.log
/tmp/
/coverage/

# Perso
Sql/
