{% extends '@__main__/base.html.twig' %}

{% block body %}

    <section class="flex items-center flex-1">
        <div class="flex flex-col w-full gap-6">
            <h1 class="text-5xl font-extrabold text-center lg:text-7xl 2xl:text-8xl">
                <span class="text-transparent bg-gradient-to-br bg-clip-text from-teal-500 via-teal-500 to-sky-500 dark:from-teal-200 dark:via-teal-300 dark:to-sky-500">
                    Connexion
                </span>
            </h1>

            <form class="max-w-md mx-auto w-full px-6 space-y-8 mt-8" action="{{ path('auth.login') }}" method="POST">
                <div class="relative z-0 w-full mb-5 group">
                    <input type="text" name="username" id="login_username" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-teal-500 focus:outline-none focus:ring-0 focus:border-teal-600 peer"
                        placeholder=" " required value="{% if user %}{{ user.username }}{% endif %}"/>
                    <label for="login_username" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-teal-600 peer-focus:dark:text-teal-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Username</label>
                </div>
                <div class="relative z-0 w-full mb-5 group">
                    <input type="password" name="password" id="login_password" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-teal-500 focus:outline-none focus:ring-0 focus:border-teal-600 peer" placeholder=" " required />
                    <label for="login_password" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-teal-600 peer-focus:dark:text-teal-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Mot de passe</label>
                </div>
                <div class="w-full flex flex-row-reverse ">
                    <button type="submit" class="mt-8 text-white
                    bg-gradient-to-br from-teal-500 via-teal-500 to-sky-500 dark:from-teal-200 dark:via-teal-300 dark:to-sky-500
                    hover:bg-teal-800 focus:ring-4 focus:outline-none focus:ring-teal-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-teal-600 dark:hover:bg-teal-700 dark:focus:ring-teal-800">Connexion</button>
                </div>
            </form>
        </div>
    </section>


{% endblock %}