{% extends '@__main__/base.html.twig' %}

{% block body %}

    <section class="flex items-center flex-1">
        <div class="mt-24 flex flex-col w-full gap-6">
            <h1 class="text-5xl font-extrabold text-center lg:text-7xl 2xl:text-8xl">
                <span class="text-transparent bg-gradient-to-br bg-clip-text from-teal-500 via-indigo-500 to-sky-500 dark:from-teal-200 dark:via-indigo-300 dark:to-sky-500">
                    Connexion
                </span>
            </h1>

        </div>
    </section>


{% endblock %}